version: '3'

services:
  web:
    stdin_open: true
    tty: true
    build: 
      context: ..
      dockerfile: docker/dev.DockerFile
    ports:
      - "15000:5000"
    volumes:
      - ..:/app
    networks:
      worknet: {}
networks:
  worknet: